<header class="header-home {% if site.animation %}animated{% endif %}">

    {% if page.title == "Home" %}
        <a class="link">
            <img class="image" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" width="750" height="500" />
        </a>
    
        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>
    
        {% include social-links.html %}
    
        <p align="justify">
            Hello there! I am a Postdoctoral researcher at the University of Southern Denmark, working on the project <i>“Beyond the Paycheck: Insights into the Effect of Unemployment, Organisational Change, and Job Security on Mental Health”</i> (principal investigator: Seetha Menon).
        </p>
            
        <p align="justify">
            I obtained my Ph.D. in Economics and Finance from the University of Rome Tor Vergata in September 2024. My specialization lies in econometrics, with a strong inclination towards adapting machine learning techniques for 
            causal inference. I also focus on applied microeconomics, particularly mental health issues and LGBTQ+ economics. When I am not busy crunching numbers and analyzing data, you might find me hiking, training in the 
            boxing ring, or strumming away on my bass guitar.
        </p>
    {% endif %}
    
</header>

{% include nav.html %}
