{% if page.title == "Home"
   or page.title == "Research"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        
        <a class="link" href="{{ site.url }}/about">
            <img class="image" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" width="350" height="450" />
        </a>

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}

        <p align="justify">
            Riccardo is a Ph.D. candidate in Economics and Finance at the University of Rome Tor Vergata. He is an econometrician with a keen interest in adapting machine learning techniques for causal inference. He also 
            focuses on applied microeconomics, particularly mental health issues and LGBTQ+ economics. When Riccardo is not busy crunching numbers and analyzing data, you might find him out for a hike, training in the 
            boxing ring, or strumming away on his bass guitar. Looking to the future, Riccardo plans to pursue a Post-Doc position after completing his Ph.D.
        </p>

        <div>
            
            ## Working Papers
            - **Aggregation Trees.** *CEIS Research Paper, 546* (2022).
            [[*paper*]](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4304256)
            [[*R package*]](https://riccardo-df.github.io/aggTrees/index.html)
            
            > <sub> 
                *Uncovering the heterogeneous effects of particular policies or "treatments" is a key concern for researchers and policymakers. A common approach is to report average treatment effects in different 
                subgroups based on observable covariates. However, there is likely to be considerable uncertainty about the appropriate grouping. This paper proposes a nonparametric approach to discovering heterogeneous 
                subgroups in a selection-on-observables framework. The approach constructs a sequence of groupings, one for each level of granularity. Groupings are nested and feature an optimality property. An "honesty" 
                condition allows us to construct valid confidence intervals for the average treatment effect of each group. The use of the proposed methodology is illustrated through an empirical exercise that revisits 
                the effects of maternal smoking on birth weight.* 
            </sub>
            
            ## Work in Progress
            - <b>**Ordered Correlation Forest.**</b>
            [*Draft available on request*]
            [[*R package*]](https://riccardo-df.github.io/ocf/)
            
            > <sub> *Empirical studies in various social sciences often involve categorical outcomes with inherent ordering, such as self-evaluations of subjective well-being and self-assessments in health domains. 
                While ordered choice models, such as the ordered logit and ordered probit, are popular tools for analyzing such outcomes, they may impose restrictive parametric and distributional assumptions. This paper 
                proposes a novel estimator, the ordered correlation forest, which overcomes these limitations. The proposed estimator modifies a standard random forest splitting criterion to build a collection of forests, 
                each estimating the conditional probability of a single class. Under an "honesty" condition, predictions are consistent and asymptotically normal. The weights induced by each forest are used to estimate 
                the variance of the predictions and obtain estimation and inference about the covariates' marginal effects. Evidence from synthetic data sets shows that the proposed estimator features a superior 
                prediction performance than alternative estimators and demonstrates its ability to construct valid confidence intervals for the covariates' marginal effects.*
            </sub>
                
            - <b>**The Cost of Coming Out** (joint with [Enzo Brox](https://sites.google.com/view/ebrox)).</b>
            [*Draft available on request*]
            
            > <sub> *Sexual orientation is a fundamental aspect of human identity, and being open about it is strongly associated with an individual’s psychological and emotional well-being. While disclosing one's sexual 
                minority status can lead to positive outcomes, experiences of repercussion can also have lasting negative outcomes. This paper aims to investigate how people react to stigma disclosure based on sexual 
                orientation. Measuring discrimination against sexual minority groups and understanding responses to sexual minority status disclosure is challenging due to data and methodological limitations. To overcome 
                these challenges, we propose to use an innovative source of data from the online video game industry. Our analysis focuses on one of the playable characters of a famous online video game, whose sexual 
                minority status was exogenously disclosed by the video game developers. This provides a quasi-experimental research design that allows for estimating causal effects. We use synthetic control methods to 
                estimate how the disclosure impacts the players' revealed preferences for the character who disclosed his sexual minority status. Our preliminary results suggest a substantial negative impact of coming out 
                that lasts for more than six weeks, which is unlikely to be driven by statistical discrimination.* 
            </sub>
            
            ## Conferences
            **2023** *(including scheduled)*
            - 2nd Rome Ph.D. in Economics and Finance Conference.
            - 11th SIdE Workshop for Ph.D. students in Econometrics and Empirical Economics (WEEE).
            - 10th Italian Congress of Econometrics and Empirical Economics (ICEEE).
            
            **2022** 
            - 1st Rome Ph.D. in Economics and Finance Conference.
            - 10th SIdE Workshop for Ph.D. students in Econometrics and Empirical Economics (WEEE).
            
        </div>
        
    </header>
{% endif %}

{% include nav.html %}
